.navbar{
    background-color: rgb(55, 5, 235);
    height: 60px;
    text-decoration:none;
   
}

.navbar a{
    color: white;

}
.flex-container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#add-project{
    text-transform: uppercase;
}

.navbar-brand{
    font-family: 'Rowdies', cursive;
    font-size: 50px;
    text-decoration: none;
}

.pagination{
    display: flex;
    justify-content: center;
}